# Virtual Environment
venv/

# Data (hide contents, keep folder)
data/*
!data/.gitkeep

# Models (hide contents, keep folder)
model/*
!model/.gitkeep

# Cache
__pycache__/
*.pyc
*.pyo
.cache/
*.cache

# Logs
*.log

# IDE
.vscode/
.idea/